body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
    background-color: #fefdf7;
}

.signup-container {
    box-sizing: border-box;
    border: 1px solid #EDEDED;
    border-radius: 12px;
    margin: 24px auto;
    padding: 24px;
    width: 780px;
    flex-direction: column;
}

.announcement {
    margin-top: 8px;
    color: #737373;
    font-size: 14px;
    line-height: 5px;
}

.error {
    color: red;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}

.emphasize {
    color: #292929;
    font-weight: bold;
}

.signup-form {
    margin-top: 48px;
}

.each-input {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

label {
    line-height: 20px;
    color: #737373;
    font-size: 12px;
    font-weight: bold;
}

.input-box {
    box-sizing: border-box;
    margin-top: 4px;
    padding: 8px 40px 8px 8px;
    border: 1px solid #EDEDED;
    border-radius: 12px;
    width: 100%;
    height: 40px;
    line-height: 24px;
    color: #292929;
    font-size: 16px;
    background-color: #F9F9F9;
    outline: none;
}

.submit-btn {
    margin-top: 24px;
    border: 0;
    border-radius: 12px;
    width: 100%;
    height: 40px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    background-color: #6b6b6b;
}

.submit-btn.active {
    background-color: #0A2E65;
    cursor: pointer;
}