{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>멋사대학교 회원가입</title>
    <link rel="stylesheet" href="{% static 'css/reviewSignup.css' %}" />
</head>
<body>
    <div class="signup-container">
        <div class="signup-title">
            <img class=logo-lion-only src="{% static 'img/logo-lion-only.svg' %}" alt="멋사대학교 로고" />
            <h2>멋사대학교 회원가입</h2>
        </div>
        <div class="announcement">
            <p>멋사대학교 계정으로 시험 후기 게시판을</p>
            <p>포함한 다양한 대학생 서비스를 모두 이용하실 수 있습니다.</p>
        </div>

        <form class="signup-form" method="post" action="{% url 'users:signup' %}">
            {% csrf_token %}
            <div class="each-input">
                <label for="username">아이디</label>
                <input type="text" id="username" class="input-box" placeholder="아이디를 입력하세요." name="username" required>
            </div>
            <div class="each-input">
                <label for="name">본명</label>
                <input type="text" id="name" class="input-box" placeholder="본명을 입력하세요." name="name" required>
            </div>
            <div class="each-input">
                <label for="password">비밀번호</label>
                <input type="password" id="password" class="input-box" placeholder="최소 8자 이상" name="password" required>
            </div>
            <div class="each-input">
                <label for="confirm-password">비밀번호 재입력</label>
                <input type="password" id="confirm-password" class="input-box" placeholder="비밀번호를 재입력하세요." name="password_confirm" required>
            </div>
            <div class="each-input">
                <label>학년</label>
                
                <input type="hidden" name="grade" id="grade-input" value="1" required>

                <div class="custom-select-wrap" id="grade-custom-select">
                    <div class="custom-select-trigger">
                        <span class="selected-text">1학년</span>
                    </div>
                    <ul class="custom-options">
                        <li class="custom-option" data-value="1">1학년</li>
                        <li class="custom-option" data-value="2">2학년</li>
                        <li class="custom-option" data-value="3">3학년</li>
                        <li class="custom-option" data-value="4">4학년</li>
                    </ul>
                </div>
            </div>

            <div class="submit-btn-wrap">
                <button type="submit" id="signup-btn" class="submit-btn">회원가입</button>
            </div>
        </form>

        <div class="to-login">
            이미 계정이 있으신가요? <a href="{% url 'users:login' %}">로그인</a>
        </div>
    </div>
    
    <script src="{% static 'js/reviewSignup.js' %}"></script>
</body>
</html>